body {
    margin: 0, auto;
    padding: 0;
}

#header {
    font-size: x-large;
    font-family: tahoma;
    text-align: center;
}

.form {
    margin: 2%;
    display: flex;
    justify-content: center;
    font-size: 20px;
    font-family: tahoma;
  
    
}

.enter {
    margin-right: 2%;
}

.guessfield {
    
    font-size: 14px;
    text-align: center;
    width: 250px;
    height: 30px;
    margin-right: 1%;
    border-radius: 5%;
    border-style: double;
    border-width: 3px;
}

#rst-btn {
    
    margin-top: 5%;
    display: flex;
    justify-content: center;  
    align-content: center; 
 
    
}



#reset-btn {
    background-color: rgb(226, 43, 43);

    border: none;
    color: black;
    padding: 20px 80px;
    text-align: center;
    text-decoration: none;
    cursor: pointer;
    border-radius: 16px;
    font-size: 20px;


}